<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Interjar_LayeredNavSearch>
            <version>0.1.0</version>
        </Interjar_LayeredNavSearch>
    </modules>
    <global>
        <helpers>
            <layerednavsearch>
                <class>Interjar_LayeredNavSearch_Helper</class>
            </layerednavsearch>
        </helpers>
        <blocks>
            <layerednavsearch>
                <class>Interjar_LayeredNavSearch_Block</class>
            </layerednavsearch>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Interjar_LayeredNavSearch_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <layerednavsearch>
                <class>Interjar_LayeredNavSearch_Model</class>
            </layerednavsearch>
        </models>
        <resources>
            <layerednavsearch_setup>
                <setup>
                    <module>Interjar_LayeredNavSearch</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </layerednavsearch_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <layerednavsearch>
                    <file>interjar/layered_nav_search.xml</file>
                </layerednavsearch>
            </updates>
        </layout>
        <frontend>
            <routers>
                <layerednavsearch>
                    <use>standard</use>
                    <args>
                        <module>Interjar_LayeredNavSearch</module>
                        <frontName>layeredsearch</frontName>
                    </args>
                </layerednavsearch>
            </routers>
        </frontend>
    </frontend>
    <default>
        <layerednavsearch>
            <general>
                <enabled>1</enabled>
                <searchable_attributes>name</searchable_attributes>
            </general>
        </layerednavsearch>
    </default>
</config>
