input[type=email], 
input[type=search], 
input[type=number], 
input[type=password], 
input[type=tel], 
input[type=text] {
	height:55px !important;
}
#add_all_to_basket {
	margin:4px !important;
}
#map{
	margin-top:10px;
}
button:not(.button), .form-button{
	background-color:#cacaca !important;
}
.pager.filter-actions.a-right{
	padding-top:5px;
}
