input[type=email], 
input[type=search], 
input[type=number], 
input[type=password], 
input[type=tel], 
input[type=text] {
	height:55px !important;
}
#add_all_to_basket {
	margin:4px !important;
}
#map{
	margin-top:10px;
}
button:not(.button), .form-button{
	background-color:#cacaca !important;
}
.pager.filter-actions.a-right{
	padding-top:5px;
}
.grid .hor-scroll tr.filter {
	background:#C0C0C0;
}
.my-account button, .form-button {
	background:#C0C0C0 !important;
}
.my-account button:hover, .form-button:hover {
	background:#cacaca !important;
}
.calendar_content_wapper{position: relative;}
.calendar_content_wapper>.DynarchCalendar-topCont{top:0!important;}
.calendar_content_wapper>.DynarchCalendar-topCont table td{padding:0;}