<?xml version="1.0"?>
<!--
Copyright © 2016 Wyomind. All rights reserved.
See LICENSE.txt for license details.
-->
<config>
    <modules>
        <Wyomind_Attributeoptionpro>
            <version>1.1.5</version>
        </Wyomind_Attributeoptionpro>
    </modules>
    <default>
        <attributeoptionpro>
               <license>
                <label>Attribute Option Pro</label>
                <version>1.1.5</version>
                <extension_code>aop</extension_code>
                <get_online_license>1</get_online_license>
            </license>
            <general>
                <enable_additional_image>0</enable_additional_image>
                <hide_stores/>
            </general>
        </attributeoptionpro>
    </default>
    <global>
        <resources>
            <attributeoptionpro_setup>
                <setup>
                    <module>Wyomind_Attributeoptionpro</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </attributeoptionpro_setup>
        </resources>
        <models>
            <attributeoptionpro>
                <class>Wyomind_Attributeoptionpro_Model</class>
            </attributeoptionpro>
            <catalog_resource>
                <rewrite>
                    <attribute>Wyomind_Attributeoptionpro_Model_Resource_Catalog_Attribute</attribute>
                </rewrite>
            </catalog_resource>
            <eav>
                <rewrite>
                    <entity_attribute_source_table>Wyomind_Attributeoptionpro_Model_Eav_Entity_Attribute_Source_Table</entity_attribute_source_table>
                </rewrite>
            </eav>
            <eav_resource>
                <rewrite>
                    <entity_attribute_option>Wyomind_Attributeoptionpro_Model_Resource_Eav_Entity_Attribute_Option</entity_attribute_option>
                </rewrite>
            </eav_resource>
        </models>
        <blocks>
            <attributeoptionpro>
                <class>Wyomind_Attributeoptionpro_Block</class>
            </attributeoptionpro>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_options>Wyomind_Attributeoptionpro_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <attributeoptionpro>
                <class>Wyomind_Attributeoptionpro_Helper</class>
            </attributeoptionpro>
            <cms>
                <rewrite>
                    <wysiwyg_images>Wyomind_Attributeoptionpro_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <attributeoptionpro>
                    <file>attributeoptionpro.xml</file>
                </attributeoptionpro>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Wyomind_Attributeoptionpro before="Mage_Adminhtml">Wyomind_Attributeoptionpro</Wyomind_Attributeoptionpro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
                <observers>
                    <attributeoptionpro>
                        <class>attributeoptionpro/observer</class>
                        <method>updateLayout</method>
                    </attributeoptionpro>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <attributeoptionpro>
                        <class>attributeoptionpro/observer</class>
                        <method>eavAttributeEditFormInit</method>
                    </attributeoptionpro>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
        <translate>
            <modules>
                <Wyomind_Attributeoptionpro>
                    <files>
                        <default>Wyomind_Attributeoptionpro.csv</default>
                    </files>
                </Wyomind_Attributeoptionpro>
            </modules>
        </translate>
    </adminhtml>
</config>