<?xml version="1.0"?>
<config>
    <modules>
        <Interjar_FrontendDesignManager>
            <version>1.0.2</version>
        </Interjar_FrontendDesignManager>
    </modules>
    <global>
        <blocks>
            <frontenddesignmanager>
                <class>Interjar_FrontendDesignManager_Block</class>
            </frontenddesignmanager>
        </blocks>
        <helpers>
            <frontenddesignmanager>
                <class>Interjar_FrontendDesignManager_Helper</class>
            </frontenddesignmanager>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <frontenddesignmanager>
                    <file>interjar/frontenddesignmanager.xml</file>
                </frontenddesignmanager>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <system_colour_picker>
                    <file>interjar/sysconfig_colour.xml</file>
                </system_colour_picker>
            </updates>
        </layout>
    </adminhtml>
</config>
