<?xml version="1.0"?>
<config>
    <modules>
        <Webtise_Customhandles>
            <version>0.1.1</version>
        </Webtise_Customhandles>
    </modules>
    <global>
        <models>
            <webtise_customhandles>
                <class>Webtise_Customhandles_Model</class>
                <resourceModel>webtise_customhandles_resource</resourceModel>
            </webtise_customhandles>
            <webtise_customhandles_resource>
                <class>Webtise_Customhandles_Model_Resource</class>
            </webtise_customhandles_resource>
        </models>
        <blocks>
            <webtise_customhandles>
                <class>Webtise_Customhandles_Block</class>
            </webtise_customhandles>
        </blocks>
        <helpers>
            <webtise_customhandles>
                <class>Webtise_Customhandles_Helper</class>
            </webtise_customhandles>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <webtise_customhandles>
                        <class>webtise_customhandles/observer</class>
                        <method>addRootLayoutHandles</method>
                    </webtise_customhandles>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
</config>