<config>
    <modules>
        <Silk_Retailer>
            <version>0.1.9</version>
        </Silk_Retailer>
    </modules>
    <global>
        <blocks>
            <silk_retailer>
                <class>Silk_Retailer_Block</class>
            </silk_retailer>
            <checkout>
                <rewrite>
                    <onepage>Silk_Retailer_Block_Checkout_Onepage</onepage>
                    <!--<onepage_progress>Silk_Retailer_Block_Checkout_Onepage_Progress</onepage_progress>-->
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <silk_retailer>
                <class>Silk_Retailer_Helper</class>
            </silk_retailer>
        </helpers>
        <models>
            <silk_retailer>
                <class>Silk_Retailer_Model</class>
                <resourceModel>silk_retailer_resource</resourceModel>
            </silk_retailer>
            <silk_retailer_resource>
                <class>Silk_Retailer_Model_Resource</class>
                <entities>
                    <silk_retailer_table>
                        <table>silk_retailer</table>
                    </silk_retailer_table>
                    <order_sample_record>
                        <table>silk_order_sample_record</table>
                    </order_sample_record>
                </entities>
            </silk_retailer_resource>
		<payment>
			<rewrite>
				<method_free>Silk_Retailer_Model_Method_Free</method_free>
			</rewrite>
		</payment>
        </models>
        <importexport module="silk_retailer">
            <import_entities>
                <silk_retailer_retailer_import translate="label">
                    <model_token>silk_retailer/retailer_import</model_token>
                    <label>Retailer Import</label>
                </silk_retailer_retailer_import>
            </import_entities>
        </importexport>
        <resources>
            <silk_retailer_setup>
                <setup>
                    <module>Silk_Retailer</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </silk_retailer_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <retailer_id>
                    <to_order>*</to_order>
                </retailer_id>
                <retailer>
                    <to_order>*</to_order>
                </retailer>
            </sales_convert_quote>
        </fieldsets>
        <template>
            <email>
                <sales_email_retailer_template translate="label" module="silk_retailer">
                    <label>Retailer Confirmation Template</label>
                    <file>silk/retailer_confirmation.html</file>
                    <type>html</type>
                </sales_email_retailer_template>
            </email>
        </template>
    </global>
    <frontend>
        <events>
            <sales_quote_add_item>
                <observers>
                    <add_sample_product_record>
                        <class>silk_retailer/observer</class>
                        <method>addSampleProductRecord</method>
                    </add_sample_product_record>
                </observers>
            </sales_quote_add_item>
            <sales_quote_remove_item>
                <observers>
                    <remove_sample_product_record>
                        <class>silk_retailer/observer</class>
                        <method>removeSampleProductRecord</method>
                    </remove_sample_product_record>
                </observers>
            </sales_quote_remove_item>
            <sales_quote_item_qty_set_after>
                <observers>
                    <limit_sample_product_qty>
                        <class>silk_retailer/observer</class>
                        <method>limitSampleProductQty</method>
                    </limit_sample_product_qty>
                </observers>
            </sales_quote_item_qty_set_after>
            <checkout_cart_update_items_before>
                <observers>
                    <limit_sample_product_qty>
                        <class>silk_retailer/observer</class>
                        <method>updateQtyLimit</method>
                    </limit_sample_product_qty>
                </observers>
            </checkout_cart_update_items_before>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <retailer_confirmation>
                        <class>silk_retailer/observer</class>
                        <method>sendConfirmationEmail</method>
                    </retailer_confirmation>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        <routers>
            <silk_retailer>
                <use>standard</use>
                <args>
                    <module>Silk_Retailer</module>
                    <frontName>retailer</frontName>
                </args>
            </silk_retailer>
            <checkout>
                <args>
                    <modules>
                        <silk_retailer before="Epicor_Comm">Silk_Retailer</silk_retailer>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <silk_retailer>
                    <file>silk/retailer.xml</file>
                </silk_retailer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <silk_retailer>
                <use>admin</use>
                <args>
                    <module>Silk_Retailer</module>
                    <frontName>silk_retailer</frontName>
                </args>
            </silk_retailer>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Silk_Retailer>
                    <files>
                        <default>Silk_Retailer.csv</default>
                    </files>
                </Silk_Retailer>
            </modules>
        </translate>
        <layout>
            <updates>
                <silk_retailer>
                    <file>silk/retailer.xml</file>
                </silk_retailer>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <delete_expored_sample_record>
                <schedule>
                    <cron_expr>59 23 * * *</cron_expr>
                </schedule>
                <run>
                    <model>silk_retailer/observer::cleanExpiredData</model>
                </run>
            </delete_expored_sample_record>
        </jobs>
    </crontab>
    <default>
        <google>
            <map>
                <country>UK</country>
                <lat>53.797110</lat>
                <lng>-1.543719</lng>
                <retailer_number>5</retailer_number>
                <map_marker>8</map_marker>
                <radius>60</radius>
            </map>
        </google>
        <sales>
            <sample_product_b2b>
                <total_qty>6</total_qty>
                <each_qty>1</each_qty>
                <keep_day>14</keep_day>
                <message>It seems your sample request is bursting at the seams! Sorry, you can only order “6” swatches at a time! To order more samples please contact our Customer services team on 01772651199 or alternative contact your Area Sales Manager</message>
            </sample_product_b2b>
            <sample_product_b2c>
                <total_qty>6</total_qty>
                <each_qty>1</each_qty>
                <keep_day>14</keep_day>
                <message>It seems your sample request is bursting at the seams! Sorry, you can only order “6” swatches at a time! To order more samples please contact our Customer services team on 01772651199 or alternative contact your Area Sales Manager</message>
                <refused_message>I am sorry we only sell B2B users. If you would like to buy, please visit the “Where to Buy” section of the website.</refused_message>
            </sample_product_b2c>
        </sales>
    </default>
</config>
