<?xml version="1.0"?>
<config>
    <modules>
        <Webtise_Gallery>
            <version>1.4.0</version>
        </Webtise_Gallery>
    </modules>
    <global>
        <models>
            <gallery>
                <class>Webtise_Gallery_Model</class>
                <resourceModel>gallery_resource</resourceModel>
            </gallery>
            <gallery_resource>
                <class>Webtise_Gallery_Model_Resource</class>
                <entities>
                    <gallery>
                        <table>webtise_gallery_entity</table>
                    </gallery>
                    <eav_attribute>
                        <table>webtise_gallery_eav_attribute</table>
                    </eav_attribute>
                    <gallery_tag>
                        <table>webtise_gallery_tag</table>
                    </gallery_tag>
                    <gallery_tag_category>
                        <table>webtise_gallery_tag_category</table>
                    </gallery_tag_category>
                    <gallery_attribute_media_gallery>
                        <table>webtise_gallery_entity_media_gallery</table>
                    </gallery_attribute_media_gallery>
                    <gallery_attribute_media_gallery_value>
                        <table>webtise_gallery_entity_media_gallery_value</table>
                    </gallery_attribute_media_gallery_value>
                </entities>
            </gallery_resource>
        </models>

        <blocks>
            <gallery>
                <class>Webtise_Gallery_Block</class>
            </gallery>
        </blocks>

        <helpers>
            <gallery>
                <class>Webtise_Gallery_Helper</class>
            </gallery>
        </helpers>

        <resources>
            <gallery_setup>
                <setup>
                    <module>Webtise_Gallery</module>
                    <class>Webtise_Gallery_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gallery_setup>
        </resources>

        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <gallery>
                        <type>singleton</type>
                        <class>gallery/observer</class>
                        <method>initBanners</method>
                    </gallery>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <adminhtml_cms_page_edit_tab_design_prepare_form>
                <observers>
                    <gallery>
                        <type>singleton</type>
                        <class>gallery/observer</class>
                        <method>initCmsFields</method>
                    </gallery>
                </observers>
            </adminhtml_cms_page_edit_tab_design_prepare_form>
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <gallery>
                    <file>webtise/gallery.xml</file>
                </gallery>
            </updates>
        </layout>

        <translate>
            <modules>
                <gallery>
                    <files>
                        <default>Webtise_Gallery.csv</default>
                    </files>
                </gallery>
            </modules>
        </translate>

        <routers>
            <gallery>
                <use>standard</use>
                <args>
                    <module>Webtise_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gallery before="Mage_Adminhtml">Webtise_Gallery_Adminhtml</gallery>
                    </modules>
                </args>
            </adminhtml>
        </routers>

        <translate>
            <modules>
                <gallery>
                    <files>
                        <default>Webtise_Gallery.csv</default>
                    </files>
                </gallery>
            </modules>
        </translate>
    </admin>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <gallery>
                                            <title>Gallery</title>
                                        </gallery>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

        <layout>
            <updates>
                <gallery>
                    <file>webtise/gallery.xml</file>
                </gallery>
            </updates>
        </layout>
    </adminhtml>
</config>
