/* Styles for Masonry Pages/Galleries */

.uneven-grid-images {
    display:flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.uneven-grid-images * {
    box-sizing: border-box;
}

.uneven-grid-images .grid-item-wrapper {
    align-items: center;
    display: flex;
    padding: 5px;
    width: 50%;
    width: calc(100% / 2);
}

.tag-links.swatch {
    display: flex;
}

.tag-links.swatch li {
    margin-right: 10px;
}

.tag-category {
    padding: 15px 0;
}

.uneven-grid-images .grid-item-wrapper img {
    max-width: 100%;
}


/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px) {

    .uneven-grid-images .grid-item-wrapper {
        width: 50%;
        width: calc(100% / 2);
    }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

    .uneven-grid-images .grid-item-wrapper {
        width: 33.333%;
        width: calc(100% / 3);
    }

}
